{% extends 'base.html' %}
{% block title_bl %}Status{% endblock %}

{% block body_bl %}
<div class="container">
    <h1>Verifikimi i Nënshkrimit</h1>
    <div style="padding:3%; border: 2px solid rgb(0, 0, 0); background: rgba(255, 255, 255, 0.309); border-radius:10px">
        <p>Votuesi ishte <code>{{ ballot }}</code></p>
        <p>Nënshkrimi i gjeneruar <code>{{ signature }}</code></p><br>
        <p style="color:{% if error %}red{% else %}green{% endif %};">
            {{ status }}
        </p>
    
        {% if not error %}
        <form action="{% url 'ballot:seal' %}" method="POST">
            {% csrf_token %}
            <input name="ballot_input" type="hidden" value="{{ ballot }}">
            <button type="submit" class="btn btn-primary btn-block">Vulosni fletën e votimit</button>
        </form>
        {% endif %}
    </div>
</div>
    
{% endblock %}